/* Agrega aquí tus estilos*/
* {
	font-family: 'Open Sans', 'Raleway', "Arial";
}

body, html {
    height: 100%;
    margin: 0;
}

header {
	background: url(../img/wildflowers.jpg) 50% 50% / 100% no-repeat fixed;
	background-size:cover;
	margin: 0;
	padding-top: 250px;
	padding-bottom: 250px;
	height: 100%;
    text-align: center;
}

h2 {
	font-size: 50px;
	margin: 0;
	text-transform: uppercase;
	color: whitesmoke;
}

h1 {
	background-color: #d2e40c;
	display: inline-block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 1em;
	padding-left: 1em;
	text-transform: uppercase;
	color: #e40cd2;
}

.summary {
	text-align: center;
	font-style: italic;
	font-size: 25px;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-right: 60px;
	padding-left: 60px;
	margin: 0;
}

a {
	color: #e40cd2;
}

#zen-intro h3,
#zen-explanation h3 {
	text-transform: uppercase;
	font-size: 30px;
	font-style: bold;
	padding-bottom: 30px;
	text-decoration: overline;
}

#zen-intro .preamble{
	background-color: #d2e40c;
    text-align: center;
    padding-top: 150px;
	padding-bottom: 150px;
	padding-left: 80px;
	padding-right: 80px;
}

#zen-explanation {
	background-color:#e40cd2;
	text-align: center;
	padding-top: 150px;
	padding-bottom: 150px;
	padding-left: 80px;
	padding-right: 80px;
}
