/* Agrega aquí tus estilos*/
* {
	font-family: 'Open Sans', 'Raleway',"Julius Sans One","Arial";
}

body, html {
    height: 100%;
    margin: 0;
}

header {
	background: url(../img/wildflowers.jpg) 50% 50% / 100% no-repeat fixed;
	background-size:cover;
	margin: 0;
	padding-top: 250px;
	padding-bottom: 250px;
	height: 100%;
    text-align: center;
}

h2 {
	font-size: 50px;
	margin: 0;
	text-transform: uppercase;
	color: whitesmoke;
}

h1 {
	background-color: #d2e40c;
	display: inline-block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 1em;
	padding-left: 1em;
	text-transform: uppercase;
	color: #e40cd2;
}

.summary {
	text-align: center;
	font-style: italic;
	font-size: 25px;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-right: 60px;
	padding-left: 60px;
	margin: 0;
}

section a,
#zen-requirements a,
#zen-participation a {
	color: #e40cd2;
}
section a:hover,
#zen-requirements a:hover,
#zen-participation a:hover{ 
	color: #d2e40c;
}

#zen-intro h3,
#zen-explanation h3 {
	text-transform: uppercase;
	font-style: bold;
	padding-bottom: 30px;
	text-decoration: overline;
	font-size: 30px;
}
#zen-intro h3{
	color: #e40cd2;
	font-size: 30px;
}
#zen-explanation h3{
	color: #d2e40c;
	font-size: 30px;
}
#zen-participation h3,
#zen-requirements h3 {
	background-color: #d2e40c;
	display: inline-block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 1em;
	padding-left: 1em;
	text-transform: uppercase;
	color: #e40cd2;
	text-align: center;
	font-size: 30px;
}

#zen-benefits h3 {
	background-color: #e40cd2;
	display: inline-block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 1em;
	padding-left: 1em;
	text-transform: uppercase;
	color: #d2e40c;
	text-align: center;
	font-size: 30px;
}


#zen-intro .preamble{
	background-color: #d2e40c;
    text-align: center;
    padding-top: 150px;
	padding-bottom: 150px;
	padding-left: 80px;
	padding-right: 80px;
}

#zen-explanation {
	background-color:#e40cd2;
	text-align: center;
	padding-top: 150px;
	padding-bottom: 150px;
	padding-left: 80px;
	padding-right: 80px;
}

#zen-participation{
	padding-top: 150px;
	padding-bottom: 150px;
	padding-left: 80px;
	padding-right: 80px;
	text-align: center;
}

#zen-requirements {
	padding-top: 100px;
	padding-bottom: 30px;
	padding-left: 80px;
	padding-right: 80px;
	text-align: center;
}

#zen-benefits {
	background-color: #d2e40c;
    text-align: center;
    padding-top: 150px;
	padding-bottom: 150px;
	padding-left: 80px;
	padding-right: 80px;
}

footer {
	padding-bottom: 100px;
	text-align: center;
}
footer a{
	background: #e40cd2;
	text-decoration: none;
	color: #d2e40c;
	font-size: 25px;
	text-align: center;
	font-style: bold;
	padding-top: 0.15rem;
	padding-bottom: 0.15rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}
footer a:hover {
	background: #d2e40c;
	color: #e40cd2;
}

/* Footer con links externos*/
aside {
	background: url(../img/wildflowers.jpg) 50% 50% / 100% no-repeat fixed;
	margin: 0;
	height: 100%;
	color: whitesmoke;
	box-sizing: border-box;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	border-style: solid;
    border-top-width: 50px;
    border-color: #d2e40c;
}

aside a {
	color: #d2e40c;
	text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}